.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MyBiografy{
    display: flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin-left: 100px;
    background: linear-gradient(to right, #c8d5b9, #8fc0a9); 
    border: 2px solid #696D7D;
    border-radius:20px;
    width: 1200px; 
    height: auto;
    padding: 20px;
    margin-top: 20px;
    margin-right: 50px;
}
.MyBiografy h3 {
 padding-bottom: 130px;
  
}

.MyBiografy p {
  text-align: justify; 
  margin: 0;
  margin-top: 10px;
}

.imageProfile{
  width:100px;
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 20px;
}



.Skills{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align:center;
  margin-left: 100px;
  background: linear-gradient(to right, #c8d5b9, #8fc0a9); 
  border: 2px solid #696D7D;
  border-radius:20px;
  width: 1200px; 
  height: auto;
  padding: 20px;
  margin-top: 10px;
}

.Skills h3 {
  text-align: left;
  margin-bottom: 20px;
   
 }

 .Skills img {
  margin-right: 10px;
  width: 70px;
  height: auto; 
  margin-top: 60px;
  margin-left: 20px;
  border-radius: 10px;
}

a{
  text-decoration: none;
}

.tools{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  text-align:center;
  align-items: center;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
